// main: lupus.less
 .lupus-scroll:hover,
.lupus-scroll:focus {
    overflow-y: auto;
}
.lupus-scroll {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;    
    overflow-x: hidden;

}
.lupus-scroll.lupus-scroll-auto-hide {
    overflow-y: hidden;
}
.lupus-scroll::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: @brand-color-1;

}
.lupus-scroll::-webkit-scrollbar-thumb {
    background-color: darken(@brand-color-1,5%);

-webkit-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.1), inset 0 -1px 0 rgba(255, 255, 255, 0.07);
}
.lupus-scroll::-webkit-scrollbar-button {
    background-color: @brand-color-1;
    width: 4px;
    height: 4px;
}
.lupus-scroll::-webkit-scrollbar-corner {
    background-color: transparent;
}